<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fusca Azul - Controle</title>
	<style>
		body {
			text-align: center;
			font-family: Arial, sans-serif;
			background-color: #222;
			color: white;
		}

		video {
			border: 5px solid #00aaff;
			border-radius: 10px;
			max-width: 100%;
			transform: scaleX(-1);
		}

		canvas {
			display: none;
		}

		#comando_texto {
			font-size: 2em;
			color: #00ff00;
		}
	</style>
</head>

<body>
	<h1>Visão do Piloto</h1>
	<video id="webcam" autoplay playsinline width="640" height="480"></video>

	<!-- Mostra o que o servidor decidiu -->
	<h2 id="comando_texto">AGUARDANDO...</h2>

	<canvas id="canvas"></canvas>

	<script>
		const video = document.getElementById('webcam');
		const canvas = document.getElementById('canvas');
		const context = canvas.getContext('2d', { willReadFrequently: true });
		const textoComando = document.getElementById('comando_texto');

		const ws = new WebSocket(`ws://${location.host}/ws/video`);

		navigator.mediaDevices.getUserMedia({ video: true })
			.then((stream) => { video.srcObject = stream; })
			.catch((err) => { alert("Erro na câmera: " + err); });

		ws.onopen = () => {
			setInterval(() => {
				if (video.readyState === video.HAVE_ENOUGH_DATA) {
					canvas.width = video.videoWidth;
					canvas.height = video.videoHeight;
					context.drawImage(video, 0, 0, canvas.width, canvas.height);
					canvas.toBlob((blob) => {
						ws.send(blob);
					}, 'image/jpeg', 0.5);
				}
			}, 100); // 10 fotos por segundo
		};

		// Quando o Python responder com o comando, atualiza o texto na tela
		ws.onmessage = (event) => {
			textoComando.innerText = event.data;

			// Muda a cor pra ficar mais intuitivo
			if (event.data === "FRENTE") textoComando.style.color = "#00ff00"; // Verde
			else if (event.data === "PARAR") textoComando.style.color = "#ff0000"; // Vermelho
			else textoComando.style.color = "#ffff00"; // Amarelo
		};
	</script>
</body>

</html>